Resource Identification

I'd like to follow up on @jeswr's call to action in #18 and #23 and note the related discussion around the terminology of `resource` in https://github.com/w3c/lws-ucs/issues/160. I'd like to propose that we actively discuss the definition of a `resource` to build a shared understanding to put into the specification.

Our group's charter points to a clear and consistent definition via its two [normative input documents](https://www.w3.org/2024/09/linked-web-storage-wg-charter.html#normative):
- The [Solid Protocol](https://solidproject.org/TR/protocol#resource) defines a resource as the target of an HTTP request identified by a URI [[RFC9110](https://datatracker.ietf.org/doc/html/rfc9110)].
- The [Fedora API Specification](https://fcrepo.github.io/fcrepo-specification/#terminology) adopts the [W3C Linked Data Platform's definition](https://www.w3.org/TR/ldp/#terms), which is based on the Architecture of the World Wide Web [[WEBARCH](https://www.w3.org/TR/ldp/#bib-WEBARCH)] and HTTP ([[RFC7230](https://datatracker.ietf.org/doc/html/rfc7230)], [[RFC7231](https://datatracker.ietf.org/doc/html/rfc7231)], [[RFC7232](https://datatracker.ietf.org/doc/html/rfc7232)]; superseded by [[RFC9110](https://datatracker.ietf.org/doc/html/rfc9110 )]).

I propose that the group adopts a definition that is directly derived from our normative input documents. 

One such example could be: 
"A resource is identified by a URI [[RFC3986](https://datatracker.ietf.org/doc/html/rfc3986)] and is the target of an HTTP request [[RFC9110](https://datatracker.ietf.org/doc/html/rfc9110)]."



> I propose that the group adopts a definition that is directly derived from our normative input documents.
> 
> One such example could be: "A resource is identified by a URI [[RFC3986](https://datatracker.ietf.org/doc/html/rfc3986)] and is the target of an HTTP request [[RFC9110](https://datatracker.ietf.org/doc/html/rfc9110)]."

I definitely agree on having a very clear definition of Resource, especially the idea that a Resource can be anything with a URI that can be targeted via HTTP request (such as a single state that serializes as a triple if it has a unique URI and can be targeted via HTTP request).

The first link does not define a Resource at all but refers to it, and the second link has this:  "The target of an HTTP request is called a "resource". HTTP does not limit the nature of a resource; it merely defines an interface that might be used to interact with resources." 

What is interesting with the above is that the "resource" is about the target of the request and interface for interaction, whether the response is any data at all (such as a request not having permission and thus not getting anything back, etc). 

From  [[RFC9110](https://datatracker.ietf.org/doc/html/rfc9110)]:  "A "representation" is information that is intended to reflect a past, current, or desired state of a given resource, in a format that can be readily communicated via the protocol. A representation consists of a set of representation metadata and a potentially unbounded stream of representation data ([Section 8](https://datatracker.ietf.org/doc/html/rfc9110#representation.data.and.metadata))."

Representation is perhaps the term we should be using in many cases instead of Resource to avoid confusion, as that is what a response provides if permissions are met?



This was discussed during the [#lws meeting on 16 June 2025](https://www.w3.org/2025/06/16-lws-minutes.html#8641).

<details><summary><i>View the transcript</i></summary>

<h3>Discussion: Resource identifiers</h3>
<p><cite>&lt;uvdsl&gt;</cite> <a href="https://github.com/w3c/lws-protocol/issues/28" rel="noopener noreferrer">w3c/<wbr>lws-protocol#28</a></p>
<p><cite>&lt;gb&gt;</cite> <strong><a href="https://github.com/w3c/lws-protocol/issues/28" rel="noopener noreferrer">Issue 28</a></strong> Resource Identification (by uvdsl)</p>
<p><cite>laurens:</cite> there has been some discussion related in the protocol repository<br>
<span>… the editors would like to begin drafting some text</span><br>
<span>… one of the first and foundational item is that identifiers should be globally unique</span><br>
<span>… iri vs uri can be discussed later on</span></p>
<p><cite>&lt;gibsonf1&gt;</cite> +1</p>
<p><cite>laurens:</cite> seems we are mostly in consensus, but would like to hear thoughts</p>
<p><cite>uvdsl:</cite> does the group want uri/iri ?</p>
<p><cite>laurens:</cite> I don't want to start there, would like to start with whether the identifiers are globally unique</p>
<p><cite>&lt;dmitriz&gt;</cite> what do you mean by 'atomic'?</p>
<p><cite>laurens:</cite> by atomic, I mean that it can be completely identified in a single string</p>
<p><cite>&lt;Zakim&gt;</cite> gibsonf, you wanted to say in addition to global unique, reachable via webn</p>
<p><cite>laurens:</cite> unlike in SOAP where multiple elements (tuple) is needed</p>
<p><cite>gibsonf:</cite> agree about globally unique, also reachable</p>
<p><cite>ericP:</cite> is that the distinction between locator and identifiers?</p>
<p><cite>uvdsl:</cite> for me I agree with gibsonf, that they are specifically using HTTP URIs (from charter docs)<br>
<span>… in SOAP, there is a tuple of identifier and operation</span></p>
<p><cite>jackson:</cite> would like to push back on HTTP uris<br>
<span>… the current Solid CG Report requires HTTP URIs and it is hard to be compatible with DID</span><br>
<span>… limiting to HTTP URIs is very limiting</span></p>
<p><cite>&lt;dmitriz&gt;</cite> what's the motivation for limiting the protocols, out of curiosity?</p>
<p><cite>&lt;gb&gt;</cite> <strong><a href="https://github.com/w3c/lws-protocol/issues/24" rel="noopener noreferrer">Issue 24</a></strong> Reasons for separate rest bindings (by jeswr)</p>
<p><cite>jackson:</cite> perhaps a provision in the specification to allow for certain protocols</p>
<p><cite>tallted:</cite> pretty much in favor of the first part (global uniqueness)<br>
<span>… I question atomicity: there may be fragment identifiers</span><br>
<span>… relatedly, one goal of LWS is that a user can choose to move between providers</span><br>
<span>… if we limit to HTTP URIs, that requires additional infrastructure to not break links</span><br>
<span>… some providers allow vanity domains, but not all, esp financial institutions</span></p>
<p><cite>&lt;Zakim&gt;</cite> uvdsl, you wanted to point to the bindings decision <a href="https://github.com/w3c/lws-protocol/issues/24" rel="noopener noreferrer">w3c/<wbr>lws-protocol#24</a></p>
<p><cite>uvdsl:</cite> this comes back to issue #24 related to bindings</p>
<p><cite>&lt;gb&gt;</cite> <strong><a href="https://github.com/w3c/lws-protocol/issues/24" rel="noopener noreferrer">Issue 24</a></strong> Reasons for separate rest bindings (by jeswr)</p>
<p><cite>uvdsl:</cite> i.e. whether to have binding or to tightly couple with HTTP<br>
<span>… limiting to HTTP URIs is restricting, it makes sense to limit to the transfer protocol. That doesn't limit to HTTP URIs</span><br>
<span>… there are DID methods that allow for HTTP transfer protocol</span></p>
<p><cite>&lt;Zakim&gt;</cite> gibsonf, you wanted to say are we limiting representations to documents (re TallTed)</p>
<p><cite>gibsonf:</cite> related to the document, we are not limiting a resource to a document<br>
<span>… I hope that is not the only thing to expect as a representation</span></p>
<p><cite>&lt;Zakim&gt;</cite> dmitriz, you wanted to ask _why_ we're limiting protocols</p>
<p><cite>dmitriz:</cite> why are we limiting URL protocols?<br>
<span>… what does that buy us</span></p>
<p><cite>&lt;Zakim&gt;</cite> TallTed, you wanted to mention DID "universal resolver"</p>
<p><cite>dmitriz:</cite> what problem does it solve?</p>
<p><cite>tallted:</cite> there was also a concern raised about resolving DID methods for arbitrary methods<br>
<span>… the expectations from the DID WG that there will be libraries with global resolvers</span><br>
<span>… i.e. "resolve this did" and the client receives whatever the identifier references</span></p>
<p><cite>&lt;Zakim&gt;</cite> uvdsl, you wanted to counterask</p>
<p><cite>uvdsl:</cite> my perspective is that the specification should give implementers clear guidance</p>
<p><cite>&lt;gibsonf1&gt;</cite> +1 to uvdsl</p>
<p><cite>uvdsl:</cite> and without that guidance, we defeat the purpose of the spec</p>
<p><cite>&lt;dmitriz&gt;</cite> that doesn't make any sense. do we also want to constrain the _packets_ to TCP only?</p>
<p><cite>jackson:</cite> as an implementer, I'd want to make it easy, but I'd want a specific group to implement</p>
<p><cite>laurens:</cite> we need to produce a test suite, and it needs to be testable<br>
<span>… any restriction needs to serve a purpose</span><br>
<span>… e.g. identifiers that are also locators</span><br>
<span>… I want a concrete requirement for that restriction</span></p>
<p><cite>dmitriz:</cite> we are not going to constrain to TCP or how packets resovle over the wire<br>
<span>… we should say URLs and not specify the retrieval mechanism</span></p>
<p><cite>&lt;TallTed&gt;</cite> +1 this may be premature restriction</p>
<p><cite>ryey:</cite> I second dmitriz's perspective<br>
<span>… specifying URIs would be fine</span><br>
<span>… for the issue of portability, there are ways to approach this with relative URLs</span><br>
<span>… or a special header for where to resolve</span><br>
<span>… in the end there isn't a real issue for how the resource is identified</span></p>
<p><cite>pchampin:</cite> I sypathize with dmitri's argument, that we want to rely on existing things that are specified elsewhere<br>
<span>… however, URIs are very abstract</span><br>
<span>… and we may want to characterize the properties of the URIs that we use</span><br>
<span>… e.g. resolvability</span></p>
<p><cite>jackson:</cite> I don't think we should restrict only on HTTP<br>
<span>… if I am a client library, and someone has included a link to some location with a weird protocol</span><br>
<span>… e.g. if we say that we support 3 protocols and therefore all client libraries need to support all</span></p>
<p><cite>&lt;Zakim&gt;</cite> uvdsl, you wanted to counter-argument flexibility should only be written into the spec if there are use cases</p>
<p><cite>jackson:</cite> spec should have a mechanism to say these are the required protocols and here's how to expand</p>
<p><cite>uvdsl:</cite> I agree about restricting to a list, I don't like a registry because it is too open<br>
<span>… I would push back on notion that we need to accommodate flexibility</span><br>
<span>… flexibility should only be part of the spec based on use cases, as outlined by the charter</span><br>
<span>… that will raise questions down the line</span></p>
<p><cite>&lt;Zakim&gt;</cite> acoburn, you wanted to mention did and vc input documents</p>
<p><cite>&lt;dmitriz&gt;</cite> text should be added to the spec only if it's solving a problem. restricting to http URLs is not solving any problem that was identified...</p>
<p><cite>&lt;laurens&gt;</cite> acoburn: As I recall we have both the DID WG and VC WG and the documents they produce as inputs to our work</p>
<p><cite>&lt;laurens&gt;</cite> ... that is part of the scope.</p>
<p><cite>uvdsl:</cite> did and vc groups are to be aligned but they are not normatively listed as input documents<br>
<span>… arguing to be careful about what we write into the spec</span></p>
<p><cite>&lt;pchampin&gt;</cite> uvdsl, I agree that we must not aim at flexibility for the sake of it; but I do believe that the flexibility discussed here (esp. for portability) is backed by use-cases</p>
<p><cite>&lt;uvdsl&gt;</cite> pchampin, sure! Looking forward to seeing these use cases :)</p>
<p><cite>laurens:</cite> vc and did documents are w3c recommendations and should be included in our consideration<br>
<span>… and some level of interop</span></p>
<p><cite>&lt;dmitriz&gt;</cite> the burden of proof should be on why add restrictions in the first place.</p>
<p><cite>ryey:</cite> a few weeks ago, the DID resolver WG was being created. Is DID resolution already a thing?</p>
<p><cite>&lt;Zakim&gt;</cite> pchampin, you wanted to respond to ryey</p>
<p><cite>&lt;uvdsl&gt;</cite> dmitriz, I disagree with that statement</p>
<p><cite>pchampin:</cite> did resolution is not currently a recommendation<br>
<span>… it is a work item on the REC track</span><br>
<span>… so eventually would be a REC</span></p>
<p><cite>ryey:</cite> are there rules of thumb for working with other W3C draft documents?</p>
<p><cite>laurens:</cite> we have discussed this related to input documents</p>
<p><cite>pchampin:</cite> we cannot have normative dependencies on doc that are much less mature<br>
<span>… we are allowed one level of difference</span><br>
<span>… we are currently behind did resolution</span><br>
<span>… unless they have problems, we shouldn't have an issue there</span></p>
<p><cite>dmitriz:</cite> each did method has a definition for how a did is resolved<br>
<span>… still very strongly against restricting URI protocols</span><br>
<span>… imagine restricting to only HTTP but then HTTPS comes</span><br>
<span>… one example: this exact question is a problem in the VC community</span><br>
<span>… there is a spec for OpenID federation for issuer registries</span><br>
<span>… that specs restricts to HTTPS, trying to exclude DIDs</span><br>
<span>… all that ended up happening is that the VC group read the spec</span><br>
<span>… and either had to ignore spec restriction or fork the spec</span></p>
<p><cite>laurens:</cite> I want to second that<br>
<span>… there are maintainability issues with too much restrictions without clear use cases</span></p>
<p><cite>uvdsl:</cite> for updating the scheme of the URI, why not open up a version 2?<br>
<span>… the discussion in CG is very different</span><br>
<span>… I don't think the arguments presented would convince the community group</span></p>
<p><cite>laurens:</cite> this is a discussion that could be made broader, but this needs to be clarified in this WG<br>
<span>… also reinstating a working group is not simple</span></p>
<p><cite>jackson:</cite> I have an open mind, but I'd like more clarification<br>
<span>… if we have a specification with open URIs that include links using a random URI scheme</span><br>
<span>… and the technology encounters that, then a client library won't know how to resolve that</span><br>
<span>… what should happen to client libraries</span></p>
<p><cite>dmitriz:</cite> the answer is always: "throw an error"</p>
<p><cite>&lt;uvdsl&gt;</cite> so much for interoperability</p>
<p><cite>dmitriz:</cite> i.e. what happens if you try to fetch a URL over HTTP and there is a network issue or server error<br>
<span>… but the principle is the same</span></p>
<p><cite>&lt;Zakim&gt;</cite> acoburn, you wanted to note also that OpenID Federation is not W3C</p>
<p><cite>&lt;laurens&gt;</cite> acoburn: OpenID and W3C are different governance bodies</p>
<p><cite>&lt;laurens&gt;</cite> ... when crossing boundaries this isn't as straightforward</p>
<p><cite>jackson:</cite> re: "throw an error", if there is a network error, the error handling is already baked in<br>
<span>… there should be a base level where every client library needs to implement</span></p>
<p><cite>&lt;dmitriz&gt;</cite> sure, "at least implement HTTP" seems reasonable as a requirement.</p>
<p><cite>jackson:</cite> would your proposal be "at least implement these protocols"?<br>
<span>… or that we shouldn't even mention http/did in the specification</span></p>
<p><cite>uvdsl:</cite> re "throw an error" flies in the face of the solid charter<br>
<span>… this makes interoperability challenging</span></p>
<p><cite>&lt;dmitriz&gt;</cite> <code>@uvdsl</code> -- part of our charter is to define error conditions.</p>
<p><cite>&lt;gb&gt;</cite> <strong><a href="https://github.com/uvdsl" rel="noopener noreferrer"><code>@uvdsl</code></a></strong> </p>
<p><cite>uvdsl:</cite> you can have spec compliant systems that don't interoperate</p>
<p><cite>&lt;Zakim&gt;</cite> ericP, you wanted to describe requirements (MUST impelement) in terms of branding</p>
<p><cite>uvdsl:</cite> I don't think this aligns with the goals of the charter</p>
<p><cite>ericP:</cite> we should describe the optional and required protocols as "branding"</p>
<p><cite>&lt;uvdsl&gt;</cite> sure, so you suggest prioritising error conditions over interoperability?</p>
<p><cite>ericP:</cite> if someone goes to one place to get a server and elsewhere to get a client, there is a desire that they talk to each other</p>
<p><cite>&lt;dmitriz&gt;</cite> I'm suggesting that restricting url protocols does not buy you interoperability. all that it buys you is -- either the spec gets forked, or implementers will just ignore it.</p>
<p><cite>ericP:</cite> the "box" could be lws+did</p>
<p><cite>&lt;uvdsl&gt;</cite> dmitriz, so you say that agreeing on a transport protocol does not induce interoperability? That is an interesting take.</p>
<p><cite>&lt;dmitriz&gt;</cite> this is not hypothetical, either -- this JUST happened with open id federation.</p>
<p><cite>ericP:</cite> if someone creates a resource with HTTP and then performs a GET over SPARQL, you want to be able to say that the resource is the same</p>
<p><cite>&lt;dmitriz&gt;</cite> <code>@uvdsl</code> - we're not talking about transport protocol though, notice. we're not talking about TCP or UDP. which is my point.</p>
<p><cite>&lt;gb&gt;</cite> <strong><a href="https://github.com/uvdsl" rel="noopener noreferrer"><code>@uvdsl</code></a></strong> </p>
<p><cite>&lt;dmitriz&gt;</cite> we're talking about unnecessary URL protocol restriction.</p>
<p><cite>jackson:</cite> that seems acceptable: a few requirements, but don't invalidate other implementations that use others</p>
<p><cite>&lt;uvdsl&gt;</cite> Yeah, we were talking about HTTP. And agreeing on HTTP does not induce interoperability?</p>
<p><cite>laurens:</cite> we need to be mindful of layering of future applications/domains on top of LWS</p>
<p><cite>&lt;uvdsl&gt;</cite> You are right, HTTP is of course not transport.</p>
<p><cite>&lt;laurens&gt;</cite> PROPOSAL: Protocol document to include HTTP resource identifiers despite not yet having been formalized as a requirement in the Use Cases &amp; Requirements WG Note.</p>
<p><cite>laurens:</cite> there was a discussion to use HTTP URIs in the protocol document</p>
<p><cite>&lt;ericP&gt;</cite> +1</p>
<p><cite>&lt;eBremer&gt;</cite> +1</p>
<p><cite>&lt;laurens&gt;</cite> +1</p>
<p><cite>&lt;acoburn&gt;</cite> +1</p>
<p><cite>&lt;TallTed&gt;</cite> +1</p>
<p><cite>&lt;bendm&gt;</cite> +1</p>
<p><cite>&lt;jeswr&gt;</cite> +1</p>
<p><cite>&lt;gibsonf1&gt;</cite> +1</p>
<p><cite>&lt;dmitriz&gt;</cite> +1</p>
<p><cite>&lt;uvdsl&gt;</cite> +1</p>
<p><cite>&lt;pchampin&gt;</cite> +1</p>
<p><cite>&lt;RazaN&gt;</cite> +1</p>
<p><cite>&lt;jackson&gt;</cite> +1</p>
<p><cite>&lt;ryey&gt;</cite> +1</p>
<p><strong>RESOLUTION:</strong> Protocol document to include HTTP resource identifiers despite not yet having been formalized as a requirement in the Use Cases &amp; Requirements WG Note.</p>
<p><cite>&lt;uvdsl&gt;</cite> <a href="https://github.com/w3c/lws-protocol/issues/28" rel="noopener noreferrer">w3c/<wbr>lws-protocol#28</a></p>
<p><cite>&lt;gb&gt;</cite> <strong><a href="https://github.com/w3c/lws-protocol/issues/28" rel="noopener noreferrer">Issue 28</a></strong> Resource Identification (by uvdsl)</p>
<p><cite>uvdsl:</cite> having arguments in writing and being able to discuss async would be appreciated</p>
<p><cite>laurens:</cite> yes, we very much encourage that</p>
<p><cite>&lt;pchampin&gt;</cite> uvdsl, I will add a pointer to the minutes of the discussions we just had in issue 28</p>
<p><cite>hadrian:</cite> applied for IE status, began re-working some UCR docs</p>
<p><cite>&lt;uvdsl&gt;</cite> Okay, thank you pchampin !</p>

<hr /></details>

> laurens: we need to produce a test suite, and it needs to be testable
> … any restriction needs to serve a purpose
> … e.g. identifiers that are also locators
> … I want a concrete requirement for that restriction

> <TallTed> +1 this may be premature restriction

Premature flexibility can be just as damaging as premature restrictions due to the additional complexity it brings to a spec, which in turn directly affects adoption and market penetration.

If concrete requirements must be presented in order to argue for of restrictions, something which I agree with, the same should also happen when arguing for flexibility. Flexibility, IMHO, is not intrinsically a virtue on its own.

> RESOLUTION: Protocol document to include HTTP resource identifiers despite not yet having been formalized as a requirement in the Use Cases & Requirements WG Note.

Just to clarify, does "HTTP resource identifiers" mean "any identifier (HTTP URLs, DIDs with the `web` method)  that can ultimately result in dereferencing a document / resource over HTTP"?

> Just to clarify, does "HTTP resource identifiers" mean "any identifier (HTTP URLs, DIDs with the web method) that can ultimately result in dereferencing a document / resource over HTTP"?

This means URIs that use the `http(s)` scheme. `https://example.com` would be one example. `did:web:example.com` would not.

> This means URIs that use the http(s) scheme. https://example.com would be one example. did:web:example.com would not.

Thank you for the clarification @acoburn . In this case, I personally welcome the outcome of this discussion :)