Reasons for separate rest bindings

In the [2025_06_09 call](https://www.w3.org/2025/06/09-lws-minutes.html) there was a request by @uvdsl for provenance for the addition of the [REST bindings](https://w3c.github.io/lws-protocol/spec/#rest-binding). These were proposed by @ericprud with the following reasons provided for their addition:
1. factor common operations like "Create" - In LDP, Resources are created by PUT or POST. The abstract functionality gives this a single name, which is then referenced in the bindings (table).
2. hide sensitive Resources - The existence of some Resources (including Containers) may be secret and the HTTP binding can offer the option to respond with 404s instead of 401s/403s (à la Github).
3. dual access - someone might want to offer LWS functionality over e.g. GraphQL, gRPC, þe olde SOAP... **It is not expected that we will define non-HTTP bindings at this stage of writing the LWS spec; and it is most likely that this will serve as a 'hook' for external specifications to re-use the LWS document with their own bindings**
4. targeted critiques - discussions within the WG or with e.g. IETF over the bindings are confined to a single section of the document
5.  Specs, tool documentation, API bindings; lots of things can benefit from having concrete names for the LWS operations

Thanks @jeswr for summarising your points.

- I do not oppose defining specific terms for operations, e.g., CRUD.
- But I do oppose having loose ends in the protocol specification.

TLDR - addressing the reasons provided for this separation:

1. Factoring common operations & naming. The goal is valid indeed, but this does not require separate bindings. These operations can be clearly defined and named within a single, cohesive specification that relies on its primary transport, as you state: HTTP.

2. Hiding sensitive Resources (404 vs 401/403). This is an important security consideration for an HTTP implementation. It should be specified directly in the section defining HTTP interactions, rather than being used as a justification to separate the entire operational model from HTTP. The [Solid Protocol](https://solidproject.org/TR/protocol#server-unauthenticated) successfully specifies this behaviour without bindings.

3. Dual access (gRPC, SOAP, etc.). I think this is a problematic justification: It introduces immediate and definite costs (specification complexity, risk to interoperability, fragmented security model) for a speculative and, if realized, detrimental benefit. If the WG's primary goal is an interoperable system, it should not standardize a feature that explicitly enables non-interoperable deployments from day one. Asides, both [normative input documents as per charter](https://www.w3.org/2024/09/linked-web-storage-wg-charter.html#normative) use HTTP and do not rely on bindings.

4. Targeted critiques: A well-structured single document can also facilitate targeted critiques without fracturing the specification in a way that complicates implementation.

A tightly-coupled specification provides greater clarity, stronger interoperability guarantees, and a more coherent security model. I would urge the group to prioritize concrete benefits over abstract and potentially unbound flexibility.

---

__Concerns__

The [Linked Data Platform (LDP)](https://www.w3.org/TR/ldp/)'s terminology is based on the [W3C's Architecture of the World Wide Web](https://www.w3.org/TR/webarch/) and on HTTP ([RFC7230](https://tools.ietf.org/html/rfc7230), [RFC7231](https://tools.ietf.org/html/rfc7231), [RFC7232](https://tools.ietf.org/html/rfc7232)). In particular, LDP defines the semantics of HTTP methods on LDP resources, i.e., how HTTP methods relate to (CRUD) operations. I would not oppose the LWS protocol to explain (CRUD) operations on HTTP Resources starting from the operation as opposed to from the HTTP method. 

However, I am not convinced that decoupling the abstract operation from the implementation provides tangible benefits that would outweigh the costs. This architectural pattern of separating abstract protocol logic from implementation bindings introduces significant and predictable challenges. It prioritizes hypothetical future flexibility over the immediate, primary goals of a standard: interoperability, clarity for implementers, and a coherent security model.

Take the [Eclipse Dataspace Protocol](https://docs.internationaldataspaces.org/ids-knowledgebase/dataspace-protocol) (formerly: International Data Spaces (IDS) Protocol) as an example. It relies heavily on this binding approach. The practical outcomes have been:
- It puts additional burden on the reader to constantly cross-reference between different sections of the protocol when reading about how to actually understand and implement the specification.
- To date, no official binding other than HTTP has been specified, meaning the specification carries the complexity of abstraction without any realized benefit of extensibility.
- And if an additional binding is defined, systems implementing one of the binding are not interoperable with systems implementing the other binding - despite following the same abstract specification.

The cost of the abstraction (in cognitive overhead for every implementer to understand two layers of specification instead of one) is paid by the entire community from day one. The benefit is speculative and, if realized, creates non-interoperable silos, directly harming the network effect the standard aims to create.

This separation is not an isolated technical issue; it introduces a well-known and risky architectural pattern of deferring critical implementation choices  (transport protocol, security guarantees, ...) to the implementer. We see a similar pattern with [Decentralized Identifiers (DIDs)](https://www.w3.org/TR/did-1.0/#methods) and their DID methods. The result is a [fragmented ecosystem](https://www.w3.org/TR/did-extensions-methods/#did-methods) where conformance to the standard does not guarantee interoperability. An application that supports one DID method cannot necessarily resolve or trust a DID from another method; the security guarantees are entirely dependent on the specific method (binding) being used.

Such "flexibility" by design prompted formal academic analysis to diagnose the resulting issues in interoperability [1] and protocol security [2] on standards around DIDs and W3C Verifiable Credentials. Note that the research is not about DIDs or VCs in isolation; it is a diagnosis of the problems created by the flexibility that the specifications allow. One way to allow for such flexibility by design is a binding approach (as seen with DID methods). 

Therefore, I argue: If implementing/using standards needs to be addressed with multiple scientific papers on interoperability and security, it seems that this architectural pattern of _separation of concerns down to the concrete implementation for the sake of flexibility_ introduces inherent and significant challenges. 

The LWS protocol has an opportunity to learn from these precedents and avoid introducing this class of problems into its own design. I therefore propose __to not rely on a binding model__ and instead to define operations directly and normatively on the HTTP protocol to ensure a single clear path to interoperable implementations.

[1] Christoph H.-J. Braun, Vasil Papanchev, Tobias Käfer: SISSI: An Architecture for Semantic Interoperable Self-Sovereign Identity-based Access Control on the Web. WWW 2023: 3011-3021 [[Open Access](https://doi.org/10.1145/3543507.3583409)]
[2] Christoph H.-J. Braun, Ross Horne, Tobias Käfer, Sjouke Mauw: SSI, from Specifications to Protocol? Formally Verify Security! WWW 2024: 1620-1631 [[Open Access](https://doi.org/10.1145/3589334.3645426)]

Thank you @uvdsl for this comprehensive explanation. I would like to approach this from a different angle.

It is very true that LDP and the Solid CG Report are tightly coupled to HTTP.

> (From [LDP](https://www.w3.org/TR/ldp/#h-ldpr-gen-http)) 4.2.1.1 LDP servers MUST at least be HTTP/1.1 conformant servers

> (From [Solid](https://solidproject.org/TR/protocol#http-server)) 2.1 Servers MUST conform to HTTP/1.1 

This provides a certain simplicity, but it also means that any identifier scheme used must, by definition, be compatible with HTTP methods. In practice, this means that data identifiers are HTTP URLs.

In the [April 14](https://www.w3.org/2025/04/14-lws-minutes.html) we discussed the issue of whether identifiers should be restricted to only be HTTP(S) URLs. While HTTP(S) URLs will certainly play a key role in LWS, there was general support for not _restricting_ data identifiers to the HTTP(S) scheme. This will allow for other schemes, such as DID, which are becoming more prominent.

In particular, in the context of portability, if we restrict data identifiers to HTTP(S) URLs, then we significantly restrict the mechanisms available for moving from one provider to another. Other, DID-based mechanisms make portability much more possible, but not all of these DID methods have direct mappings to REST, especially those that use distributed ledgers.

The goal of a loose coupling between these core operations and REST is to provide exactly this sort of flexibility while not requiring the overhead of portable identifiers for all implementations. It keeps HTTP(S) and REST at the core of LWS, while also not restricting implementors and future specifications that may build upon LWS, especially those that will use some of the newer DID methods.

The specific example that we don't want to emulate is that the current draft of the OpenID Federation specification, when defining an [Entity Identifier](https://openid.net/specs/openid-federation-1_0.html#section-1.2-3.4), states:

> This URL MUST use the https scheme

This automatically excludes all DID-based addressing schemes.

Some of the related use cases/requirements for this include: https://github.com/w3c/lws-ucs/issues/30, https://github.com/w3c/lws-ucs/issues/140


> [!NOTE]
> Disclaimer: I unfortunately have not been able to really participate in the group so far and I fully recognise the extent of how uninformed my opinion can be. Take what follows with many grains of salt. 

For what it's worth, I completely and wholeheartedly share @uvdsl 's concerns.

> The specific example that we don't want to emulate is that the current draft of the OpenID Federation specification, when defining an [Entity Identifier](https://openid.net/specs/openid-federation-1_0.html#section-1.2-3.4), states:
> 
>> This URL MUST use the https scheme

My perspective as a spec implementor leads me to the opposite conclusion. Constraints and boundaries are a feature, not a bug. They make the difference between specifications that can be grasped within a few hours and specifications that require multi-day explorations of topics one might not be as familiar with and that become much harder to argue for when discussing with non-technical parties. Tight coupling with HTTP is, IMHO, the primary factor behind the success of OAuth2 and OpenID Connect in terms of cross-vendor interoperability.

> Therefore, I argue: If implementing/using standards needs to be addressed with multiple scientific papers on interoperability and security, it seems that this architectural pattern of separation of concerns down to the concrete implementation for the sake of flexibility introduces inherent and significant challenges.

This, 100%. Additional complexity should be introduced only when it becomes necessary _in the present_ and when the additional costs can be demonstrably offset by tangible, practical benefits. I do not see any such benefit in using a binding model with effectively just one binding, that to the HTTP protocol, and with no clear plans for other bindings in the short term.

That said... I understand that whether to limit the protocol to HTTP(s) or not has already been discussed and agreed upon. I'm sorry I have not been in a place to take a more active role in the discussion. I would have voiced my concerns at a more useful time :). I hadn't planned on speaking up but @uvdsl's comment is just too well-written not to.

Thank you, @acoburn, for the summary and for reconciling the different perspectives.

I strongly support your recommendation to collapse the two sections. This path prioritizes specification clarity and interoperability, and thus addresses the core concerns raised throughout this thread.